@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');
*{
  margin: 0;
 }

header{
    
    font-family:'Noto Serif JP', sans-serif;
    border-bottom: 1px solid #ddd;
    background-color: #fcfcfc;
    position:relative;
   margin-bottom: 20px;
}



body{
    background-color:#DCDCDC;
      
  }
  
 
  .ribbon2 {
    display: inline-block;
    position: relative;
    height: 60px;
    line-height: 60px;
    width: 100%;
    text-align: center;
    padding: 7px 0;
    font-size: 5vw;/*フォントサイズ*/
    font-family:'Noto Serif JP', sans-serif;
    background: #7f9dfb;/*背景色*/
    color: #fff;/*文字色*/
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  .ribbon2 h3 {
    margin: 0;
    padding: 0 30px;
    border-top: dashed 1px #fff;/*上の破線*/
    border-bottom: dashed 1px #fff;/*下の破線*/
    line-height: 46px;
  }
  
  .ribbon2:before, .ribbon2:after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    z-index: 1;
  }
  
  .ribbon2:before {
    /*左端の山形*/
    top: 0;
    left: 0;
    border-width: 30px 0px 30px 15px;
    border-color: transparent transparent transparent #DCDCDC;
    border-style: solid;
  }
  
  .ribbon2:after {
    /*右端の山形*/
    top: 0;
    right: 0;
    border-width: 30px 15px 30px 0px;
    border-color: transparent #DCDCDC;
    border-style: solid;
  }
  
  h2{
      text-align: center;
  }
  h1{
      text-align: left;
  }
  .mother{
    display: flex;
    align-items:center;
  }
  
  .box2 {
    padding: 0.5em 1em;
    margin-left: 10px;
    font-weight: bold;
    font-family:'Noto Serif JP', sans-serif;
    color: rgb(28, 24, 89,);/*文字色*/
    background: #fff;
    border: solid 3px #7f9dfb;/*線*/
    border-radius: 10px;/*角の丸み*/
    text-align: center;
    flex:1;
   

}
.box2 p {
    margin: 0; 
    padding: 0;
}
  img{
    max-width: 100%;
  }
  
  .img_button img{
    display: block;
  }
  
  .img_button:hover{
    opacity: 0.8;
  }
  
  .content{
    display: none;
    padding: 30px;
  }
.menu{
  display: flex;
  max-width: 700px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu h4{
  margin: 10px;
}
    .btn-circle-stitch {
        display:flex;
        text-decoration: none;
        background: #7f9dfb;
        color:rgb(28, 24, 89,);
        width: 120px;
        height: 120px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        text-align: center;
        
        box-shadow: 0px 0px 0px 5px #7f9dfb;
        border: dashed 1px #fff;
        transition: .4s;
      }
      
      .btn-circle-stitch:hover {
        background: #7f9dfb;
        box-shadow: 0px 0px 0px 5px #7f9dfb;
      }


  footer{
    background-color:#7f9dfb;
    color:#fff;
    font-size: 100%;
    font-family:'Noto Serif JP', sans-serif;
    padding:10px;
    min-height:50px;

    display: flex;
    align-items: center;
    justify-content: center;

   
}



